<div class="container-fluid">
    <div class="row">
        <div class="col-12 px-0">
            <div class="d-flex">
                <div class="custom-col-5">
                    <app-side-tab></app-side-tab>
                </div>
                <div class="custom-col-95  py-2 pr-3 pl-5 bg-custom-primary">
                    <div>
                        <app-header></app-header>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <h1>Hello Tam</h1>
                        <div class="d-flex">
                            <p class="mb-0 mt-2">Have a nice day at work</p>
                            <div class="wave-icon d-flex pt-2 pl-2 ml-3"><img src="assets/images/waving-hand.png"  alt="wave"></div>
                        </div>
                        <div >
                                 {{testedData.testedMh}}
                                 {{testedData.testedKa}}
                                 {{testedData.testedPu}}
                                 {{testedData.testedRa}}
                                 {{testedData.testedKe}}
                        </div>
                        <!-- <div>
                            {{trackingData | json}}
                        </div> -->
                        </div>
                        <div class="col-3"></div>
                        
                       
                    </div>
                </div>
               </div>
        </div>
    </div>
  
       
     
</div>