.bg-custom-primary{
  background: #ECF3F4;
}
.custom-col-5{
    width:4%;
}
.custom-col-95{
    width: 96%;
}
.wave-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FCCEEC;
    img{
        width:30px;
        height: 30px;
    }
   
}
.spacer{
    width: 15px;
    height: 5px;
    background: peru;
    display: block;
}
.custom-height{
    height: 185px;
}
.custom-heading{
    line-height: 8px;
    margin-bottom: 20px;
}